version: '3.7'

services:
  main:
    container_name: main
    build:
      context: .
      target: development
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '3000:3000'
    command: npm run start:dev
    networks:
      - webnet
    depends_on:
      - db
  db:
    container_name: mydb
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - webnet
    environment:
      MYSQL_USER: "${MYSQL_USERNAME}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    ports:
      - '3306:3306'
networks:
  webnet:
